/* @media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    .mobile-container {
        display: flex;
    }

} */

@media (max-width: 768px) {
    #desktop-container {
        display: none;
    }

    .mobile-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}